
<% content_for :head do %>
  <%= auto_discovery_link_tag %>
<% end %>

<h2>Articles</h2>
<%#= render :partial => 'channels/channel_header'%>

<%#= will_paginate @articles%>

 
<% @articles.each do |article| %>
  <div class="article">
    <h3><%= article.title %></h3>
    

    <p>
      <%= article.created_at.to_s(:short) %> 
      <%= article.synopsis %><br />
      <% if params[:channel_id] %>
        <%= link_to 'Read the full article', thumbwebs_channel_article_url(:channel_id => article.channel_id, 
                                                                         :id => article) %>
      <% else %>
        <%= link_to 'Read the full article', thumbwebs_channel_article_url(article) %>
      <% end %>    
	  <% if logged_in? && user_is_producer_of_channel?(article.channel_id) -%>
	  
             <small>
            <%= link_to 'edit', edit_thumbwebs_channel_article_path(:channel_id => article.channel_id, :id =>article) -%>
                <%= link_to 'delete', thumbwebs_channel_article_path(:channel_id => article.channel_id, :id => article), :method => :delete, :confirm => 'Are you sure? This will delete the article!' -%>
                </small>        
        <% end %>
            </td>
    </p>
  </div>
	  
<% end %>
<% if user_is_producer_of_channel?(params['channel_id']) -%>
  
       <%= link_to 'New Article', new_thumbwebs_channel_article_path(:channel_id => params['channel_id']) -%>
<% end %>