

  <div class="<%= cycle('row_1', 'row_2') %>">

   
    <div class="name">
      <%= link_to @channel.name, thumbwebs_channel_path(@channel) -%>
    </div>
	
	<div class="description">
	  <%= truncate(@channel.description) -%>
	</div>
              
  <%= link_to "Articles", thumbwebs_channel_articles_path(:channel_id => THUMBWEBS_CHANNEL_ID)%><br>
  <%=link_to "Subscribe", "http://thumbwebs.com/channels/#{THUMBWEBS_CHANNEL_ID}/showlicenses"%>


